@import "./common-func";
@import "./variables";

.footer {
  font-size: $secondaryFontSize;
  background-color: $secondaryColor;
  color: $pTextColor;

  .padding {
    @include padding(15px, 0px);
  }

  .container > p {
    text-align: center;
  }
}
