@import "./variables";
@import "./common-func";

@media only screen and (max-width: 499px) {
  .top-header {
    display: none;
  }
}

@media only screen and (max-width: 799px) {
  .bottom-header {
    .menu-left {
      .brand-logo {
        max-width: 150px;
      }
    }
    .menu-right {
      .main-menu {
        display: none;
      }
      .right-navbar {
        display: block;
      }
    }
  }
}
@media only screen and (min-width: 700px) {
  .container {
    max-width: 600px;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  }
  .product-middle {
    text-align: justify;
    max-width: 500px;
    .rating-section {
      @include displayFlex($justifyContent: flex-start);
    }
  }

  .main-menu {
    @include displayFlex($columnGap: 20px);
  }
  .product-wrapper {
    @include displayFlex($alignItems: flex-start);
  }
}
