@import "./common-func";
@import "./variables";

.product-middle {
  text-align: center;
  .product-count {
    background-color: $secondaryColor;
    font-size: $secondaryFontSize;
    color: $pTextColor;
    @include displayFlex();
  }

  .padding {
    @include padding(10px, 20px);
  }
  .rating-section {
    @include displayFlex($justifyContent: center);
    // @include displayFlex($justifyContent: flex-start);
    .rating {
      margin-left: 1rem;
      font-size: 1rem;
    }
  }

  .social-icons {
    margin: 0 auto;
    max-width: 200px;
    @include displayFlex();
    .fa-brands {
      font-size: 1.5rem;
    }
  }

  .detail-section {
    td {
      font-size: $secondaryFontSize;
      color: $pTextColor;
    }
  }
}

.product-middle > * {
  margin: 15px 0;
}

.product-middle > *:first-child {
  margin-top: 0;
}
