$primaryColor: #fff;
$secondaryColor: #f8f8f8;
$headerColor: #222;
$pTextColor: #777;
$buttonColor: #f94c3b;
$percentOffColor: #f96052;
$borderColor: #dddada;
$starColor: #fba203;
$noStarColor: #dddddd;

$fontStack: Helvetica, Arial, sans-serif;
$primaryFontSize: 1.5rem;
$secondaryFontSize: 0.9rem;
